@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-black-webfont.eot");
  src: url("fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-black-webfont.woff") format("woff"), url("fonts/roboto/roboto-black-webfont.ttf") format("truetype"), url("fonts/roboto/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-bold-webfont.eot");
  src: url("fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-light-webfont.eot");
  src: url("fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-light-webfont.woff") format("woff"), url("fonts/roboto/roboto-light-webfont.ttf") format("truetype"), url("fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-medium-webfont.eot");
  src: url("fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("fonts/roboto/roboto-medium-webfont.ttf") format("truetype"), url("fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-regular-webfont.eot");
  src: url("fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/roboto-thin-webfont.eot");
  src: url("fonts/roboto/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-thin-webfont.woff") format("woff"), url("fonts/roboto/roboto-thin-webfont.ttf") format("truetype"), url("fonts/roboto/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-black-webfont.eot");
  src: url("fonts/montserrat/montserrat-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-black-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-black-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-black-webfont.svg#montserratblack") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-light-webfont.eot");
  src: url("fonts/montserrat/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-light-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-light-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-medium-webfont.eot");
  src: url("fonts/montserrat/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-medium-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-medium-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-medium-webfont.svg#montserratmedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-semibold-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-semibold-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-semibold-webfont.svg#montserratsemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-thin-webfont.eot");
  src: url("fonts/montserrat/montserrat-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/montserrat-thin-webfont.woff") format("woff"), url("fonts/montserrat/montserrat-thin-webfont.ttf") format("truetype"), url("fonts/montserrat/montserrat-thin-webfont.svg#montserratthin") format("svg");
  font-weight: 100;
  font-style: normal;
}
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*Start core styles*/
html {
  height: 100%;
}

body {
  font-family: "roboto", sans-serif;
  line-height: 1.2;
  height: 100%;
}

body._fixed {
  overflow: hidden;
}

svg:not(:root) {
  overflow: hidden;
}

.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: top;
}

.svg-icon--full-size {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* placeholder */
.placeholder {
  max-width: 1120px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "montserrat", sans-serif;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.placeholder--box {
  background: #660C1C;
}
.placeholder__body {
  margin: auto;
}
.placeholder__logo {
  width: 343px;
  height: 343px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .placeholder__logo {
    width: 200px;
    height: 200px;
  }
}
.placeholder__logo svg {
  fill: #fff;
}
.placeholder__title {
  font-size: 48px;
  margin-top: 117px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .placeholder__title {
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .placeholder__title {
    margin: 30px 0 40px;
    font-size: 42px;
  }
}
.placeholder__footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 27px;
}
.placeholder__footer-item {
  color: #fff;
  text-decoration: none;
}
.placeholder__footer-item:hover {
  color: #9b9b9b;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 768px) {
  .placeholder__footer-item {
    margin: 0 10px 21px 0;
  }
}
@media screen and (max-width: 1024px) {
  .placeholder__footer {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .placeholder__footer {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .placeholder__footer {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #660C1C;
  height: 65px;
  z-index: 999;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 640px) {
  .header {
    /*border-bottom: 2px solid #fff;*/
    height: auto;
  }
}
.header__box {
  position: relative;
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .header__box {
    height: 60px;
  }
}
.header__el {
  display: inline-block;
  vertical-align: middle;
}
.header__logo {
  width: 64px;
  height: 64px;
  padding: 8px;
  background-color: #660C1C;
}
@media screen and (max-width: 640px) {
  .header__logo {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
}
.header__logo svg {
  fill: #fff;
}
.header__right-items {
  position: absolute;
  top: 17px;
  right: 24px;
}
.header__search {
  display: inline-block;
  vertical-align: middle;
  max-width: 350px;
  height: 21px;
  margin-left: 16px;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .header__search {
    display: none;
  }
}
.header__search-btn {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__search-btn svg {
  fill: #660C1C;
}
@media screen and (max-width: 640px) {
  .header__search-btn svg {
    stroke: #fff;
  }
}
.header__form-container {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  height: 20px;
  width: 0;
  padding-left: 10px;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.header__search--open .header__form-container {
  width: 290px;
}
.header__form {
  border-left: 1px solid #979797;
  padding-left: 9px;
  display: inline-block;
  vertical-align: top;
}
.header__search-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 240px;
}
.header__close-search {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 20px;
  background: url(/img/icon-close-red.svg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* search mobile*/
.search-mobile {
  display: none;
}
@media screen and (max-width: 640px) {
  .search-mobile {
    display: inline-block;
  }
}
.search-mobile--open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #660C1C;
  padding: 14px 59px 14px 15px;
}
.search-mobile--open .search-mobile__form,
.search-mobile--open .search-mobile__close {
  display: block;
}
.search-mobile--open .search-mobile__form-container {
  background-color: #fff;
}
.search-mobile--open .search-mobile__btn svg {
  fill: #660C1C;
}
.search-mobile__btn {
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-mobile__btn svg {
  fill: #660C1C;
}
.search-mobile__form-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background-color: transparent;
  border-radius: 2px;
  padding: 5px 7px;
}
.search-mobile__form {
  display: none;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid #660C1C;
  flex-basis: 100%;
}
.search-mobile__input {
  border: none;
  outline: none;
  width: 100%;
}
.search-mobile__input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.search-mobile__input:-ms-input-placeholder {
  font-size: 15px;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.search-mobile__input:-moz-placeholder {
  font-size: 15px;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.search-mobile__input::-moz-placeholder {
  font-size: 15px;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.search-mobile__close {
  display: none;
  background: url("/img/icon-close-white.svg") 50% no-repeat;
  position: absolute;
  top: 19px;
  right: 20px;
  height: 20px;
  width: 20px;
}

.search__suggest {
  display: none;
  max-width: 1120px;
  margin: 0 auto;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: auto;
}
.search__suggest-el {
  color: #660C1C;
  padding: 12px 13px 11px;
  font-weight: 500;
  font-size: 16px;
}
.search__suggest-el--city {
  padding: 28px 0;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid #660C1C;
}
.search__suggest-el:hover {
  color: #fff;
  background-color: #660C1C;
}

/* breadcrumbs */
.breadcrumbs {
  font-size: 18px;
  font-weight: bold;
  color: #660C1C;
}
@media screen and (max-width: 640px) {
  .breadcrumbs {
    margin: auto;
    display: inline-block;
    font-size: 16px;
    display: none;
  }
}
.breadcrumbs__el {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .breadcrumbs__el {
    display: block;
    margin: 0;
    left: 13px;
  }
}
.breadcrumbs__el:hover .breadcrumbs__text::before {
  transform: rotate(90deg);
}
.breadcrumbs__el:hover .breadcrumbs__dropdown-box {
  max-height: 500px;
}
.breadcrumbs__text {
  position: relative;
  padding-left: 13px;
  line-height: 20px;
}
@media screen and (max-width: 640px) {
  .breadcrumbs__text {
    padding: 0 25px 0 0;
    max-height: 19px;
    overflow: hidden;
  }
}
.breadcrumbs__text::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 6px;
  height: 14px;
  background: transparent url("/img/icon-arrow-red.svg") 50% no-repeat;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 640px) {
  .breadcrumbs__text::before {
    left: auto;
    right: 3px;
  }
}
.breadcrumbs__dropdown-box {
  max-width: 1120px;
  max-height: 0;
  overflow: hidden;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 640px) {
  .breadcrumbs__dropdown-box {
    top: 40px;
  }
}
.breadcrumbs__dropdown {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  padding: 10px 0;
  margin-top: 22px;
  /*
  &::before {
    content: ''; 
    position: absolute;
    left: 11px;
    top: -12px;
    border: 6px solid transparent;
    border-bottom: 6px solid #fff;
  }*/
}
.breadcrumbs__dropdown a {
  display: block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  padding: 3px 11px;
}
.breadcrumbs__dropdown a:hover {
  color: #fff;
  background-color: #660C1C;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.breadcrumbs__nav {
  max-height: 250px;
  overflow: auto;
}
.breadcrumbs--two-el {
  /*.breadcrumbs__el {
    @media screen and (max-width: 640px) {
      right: 16px;
    }
  }*/
}
@media screen and (max-width: 640px) {
  .breadcrumbs--two-el {
    text-align: center;
  }
  .breadcrumbs--two-el .breadcrumbs__text {
    display: inline-block;
    padding: 0;
  }
  .breadcrumbs--two-el .breadcrumbs__text::before {
    display: none;
  }
  .breadcrumbs--two-el .breadcrumbs__dropdown-box {
    text-align: left;
  }
}

/* burger */
.burger {
  position: absolute;
  right: 0;
  top: 21px;
  height: 20px;
  width: 20px;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
@media screen and (max-width: 1140px) {
  .burger {
    right: 16px;
  }
}
.burger span {
  position: absolute;
  left: 0;
  top: 9px;
  width: 20px;
  height: 2px;
  background-color: #660C1C;
  -webkit-transition: -webkit-all ease 0.15s;
  transition: all ease 0.15s;
}
.burger span:nth-child(1) {
  top: 2px;
}
.burger span:nth-child(3) {
  top: 16px;
}
.burger-active {
  z-index: 100;
}
.burger-active span {
  background-color: #fff;
}
.burger-active span:nth-child(1) {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  top: 11px;
}
.burger-active span:nth-child(2) {
  opacity: 0;
}
.burger-active span:nth-child(3) {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  top: 11px;
}

.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #660C1C;
}
.burger-menu__header {
  padding: 8px 0;
  max-width: 1120px;
  margin: 0 auto;
}
.burger-menu__logo {
  width: 48px;
  height: 48px;
  margin-left: 8px;
}
@media screen and (max-width: 1140px) {
  .burger-menu__logo {
    margin-left: 16px;
  }
}
@media screen and (max-width: 640px) {
  .burger-menu__logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 2px;
  }
}
.burger-menu__logo svg {
  fill: #fff;
}
.burger-menu__body {
  font-family: "montserrat", sans-serif;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  height: 100%;
  position: relative;
  top: -64px;
}
.burger-menu__menu {
  max-width: 560px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  font-weight: 900;
  line-height: 76px;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .burger-menu__menu {
    font-size: 36px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 480px) {
  .burger-menu__menu {
    font-size: 28px;
    line-height: 1.27;
  }
}
@media screen and (max-width: 360px) {
  .burger-menu__menu {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .burger-menu__menu li:not(:last-child) {
    margin-bottom: 30px;
  }
}
.burger-menu__menu a {
  color: inherit;
  text-decoration: none;
}

/* Grid */
.main {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 65px;
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media screen and (max-width: 640px) {
  .main {
    padding-top: 62px;
  }
}

.main--addnews {
  max-width: 1024px;
  margin: 0 auto;
}

.main--full {
  max-width: 100%;
}

.col--half {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: calc(100vh - 4rem);
}
@media screen and (max-width: 993px) {
  .col--half {
    min-height: auto;
  }
}

.col--right {
  margin-left: auto;
}
@media screen and (max-width: 993px) {
  .col--right {
    width: 65%;
  }
}
@media screen and (max-width: 640px) {
  .col--right {
    width: 100%;
    margin: 0;
  }
}

.col--fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 64px;
  max-width: 560px;
  border-right: 1px solid #a50028;
}
@media screen and (max-width: 993px) {
  .col--fixed {
    width: 35%;
  }
}
@media screen and (max-width: 640px) {
  .col--fixed {
    display: none;
  }
}

.col--scrolled {
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "montserrat", sans-serif;
  background-color: #660C1C;
}
@media screen and (max-width: 640px) {
  .intro {
    padding-bottom: 0;
  }
}
.intro__body {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.intro__title {
  max-width: 1024px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 15%;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .intro__title {
    font-size: 40px;
    margin-top: 90px;
    padding: 0 25px;
  }
}
.intro__descr {
  max-width: 796px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .intro__descr {
    font-size: 16px;
    line-height: 20px;
    padding: 0 25px;
  }
}
.intro__button {
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 130px;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.intro__button:hover {
  background-color: #fff;
  color: #a50028;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .intro__button {
    display: none;
    font-size: 16px;
    padding: 9px 15px;
    margin-bottom: 40px;
  }
}
.intro__arrow {
  display: none;
  width: 60px;
  height: 20px;
  margin-bottom: 37px;
  background: transparent url("/img/intro-arrow.svg") 50% no-repeat;
  cursor: pointer;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media screen and (max-width: 480px) {
  .intro__arrow {
    display: block;
  }
}

/* interactive map */
.map {
  background: #fff url("/img/map-placeholder.jpg") 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.map__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: #a50028;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.map__marker--active {
  width: 50px;
  height: 50px;
  top: 75%;
  left: 15%;
}

/* list of cities and districs */
.choice-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #660C1C;
  position: relative;
  z-index: 10;
}
.choice-wrapper--intro {
  margin-top: 100vh;
}

.choice {
  font-family: "montserrat", sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* choice__el */
  /* end choice__el */
}
.choice--city {
  max-width: 1120px;
  margin: 0 auto;
}
.choice--distr {
  padding: 12px 0 12px 16px;
}
@media screen and (max-width: 1140px) {
  .choice--distr {
    padding: 0;
  }
}
.choice__filter {
  max-width: 1120px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.choice__filter-wrapper {
  background-color: #660C1C;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #fff;
}
.choice__filter-mobile {
  border: none;
  outline: none;
  background: none;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 13px 0;
  cursor: pointer;
  padding-right: 13px;
  background: url("/img/icon-arrow-down-white.svg") 100% 50% no-repeat;
}
@media screen and (max-width: 640px) {
  .choice__filter-mobile {
    display: block;
  }
}
.choice__filter-btn {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 640px) {
  .choice__filter-btn {
    display: none;
  }
}
.choice__filter-btn--active {
  background-color: #fff;
  color: #660C1C;
}
.choice__filter-btn:hover {
  background-color: #fff;
  color: #660C1C;
}
.choice__city-name {
  display: none;
  padding: 29px 20px;
  font-size: 32px;
  font-weight: 900;
  color: #a50028;
  text-align: center;
  border-bottom: 1px solid #a50028;
}
@media screen and (max-width: 640px) {
  .choice__city-name {
    display: block;
    width: 100%;
    margin-bottom: 1px;
  }
}
.choice__el {
  color: #fff;
  font-size: 24px;
  background: #660C1C;
  width: 280px;
  height: 280px;
  overflow: hidden;
  border: 1px solid #fff;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 1140px) {
  .choice__el {
    width: 25%;
  }
}
@media screen and (max-width: 993px) {
  .choice__el {
    width: 33.3%;
  }
}
@media screen and (max-width: 640px) {
  .choice__el {
    font-size: 16px;
    width: 50%;
  }
}
.choice__el:hover {
  color: #660C1C;
  background: #fff;
}
.choice__el:hover svg {
  stroke: #660C1C;
}
.choice__el--distr {
  width: 252px;
  height: 252px;
  margin: 12px;
  color: #660C1C;
  border: 1px solid #a50028;
}
@media screen and (max-width: 1140px) {
  .choice__el--distr {
    width: calc(50% - 12px);
    margin: 12px 0 0 12px;
  }
}
@media screen and (max-width: 640px) {
  .choice__el--distr {
    border: none;
    width: calc(33.3% - 12px);
    margin: 12px 12px 0 0;
  }
}
@media screen and (max-width: 480px) {
  .choice__el--distr {
    width: calc(50% - 6px);
  }
}
.choice__el--distr:hover {
  color: #fff;
  background-color: #a50028 !important;
}
.choice__el--distr:hover .choice__img {
  transform: scale(1.1);
}
.choice__el--distr .choice__img {
  background: transparent 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.choice__el--distr:nth-child(odd) {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .choice__el--distr:nth-child(odd) {
    margin-right: 12px;
  }
}
@media screen and (max-width: 480px) {
  .choice__el--distr:nth-child(odd) {
    margin-right: 0;
  }
}
.choice__el a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.choice__name {
  height: 90px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  /*@media screen and (max-width: 640px) {
    height: 200px;
  }
  @media screen and (max-width: 480px) {
    height: 100px;
  }*/
}
.choice__city {
  font-weight: 900;
  margin-bottom: 3px;
  text-align: center;
}
.choice__region {
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  .choice__region {
    font-size: 12px;
  }
}
.choice svg {
  stroke: #fff;
}
.choice__img {
  height: 176px;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* news feed */
.news-wrapper {
  background-color: #edeef0;
}
@media screen and (max-width: 640px) {
  .news-wrapper .header__search {
    display: none;
  }
}

.news {
  padding: 25px;
}
@media screen and (max-width: 640px) {
  .news {
    padding: 0;
  }
}
.news__el {
  padding: 16px;
  background-color: #fff;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
@media screen and (max-width: 640px) {
  .news__el {
    margin-bottom: 17px;
  }
}
.news__el a {
  color: #2B5885;
  text-decoration: none;
}
.news__show-more {
  font-weight: 700;
}
.news__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-bottom: 16px;
}
.news__logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  flex: none;
}
@media screen and (max-width: 640px) {
  .news__logo {
    width: 40px;
    height: 40px;
    margin-right: 11px;
  }
}
.news__logo svg {
  fill: #660C1C;
}
.news__heading {
  font-size: 14px;
}
.news__title {
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .news__title--second {
    display: none;
  }
}
.news__date {
  color: #9A9393;
  line-height: 16px;
}
.news__prev {
  margin-bottom: 20px;
}
.news__text {
  max-height: 130px;
  overflow: hidden;
}
.news__img-block {
  margin-bottom: 20px;
}
.news__main-img-el {
  display: block;
  height: 340px;
}
@media screen and (max-width: 640px) {
  .news__main-img-el {
    height: 208px;
  }
}
.news__main-img-el--half {
  display: inline-block;
  height: 168px;
  width: calc( 50% - 5px);
}
.news__main-img-el--half:not(:last-child) {
  margin-right: 6px;
}
.news__img {
  background: transparent 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.news__thumbs {
  margin-top: 8px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.news__thumbs-el {
  width: 33.3%;
  height: 112px;
}
.news__thumbs-el:not(:last-child) {
  margin-right: 8px;
}
.news__thumbs-el--quater {
  width: 25%;
  height: 84px;
}
.news__thumbs .news__img {
  height: 100%;
}
.news__counters {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  padding-top: 10px;
}
.news__views {
  position: relative;
}
.news__views::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 5px;
  background: transparent url("/img/icon-eye.svg") 50% no-repeat;
}
.news__join {
  color: #9b9b9b;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.news__social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}
.news__social-el {
  height: 22px;
  max-width: 38px;
}
.news__social-el--ok {
  max-width: 20px;
}
.news__social-el svg {
  fill: #660C1C;
}
.news__subscribe {
  font-size: 18px;
  color: #9b9b9b;
}
.news__subscribe a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .news__subscribe a {
    display: block;
    text-align: center;
    color: #2B5885;
  }
}
.news__form {
  margin: 10px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media screen and (max-width: 480px) {
  .news__form {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
}
.news__input {
  line-height: 20px;
  flex-basis: 60%;
  outline: none;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px 8px 55px;
  background: transparent url("/img/palm.png") 10px 0 no-repeat;
  border-radius: 2px;
}
@media screen and (max-width: 640px) {
  .news__input {
    width: 100%;
    background-image: none;
    padding: 10px 10px 8px;
    text-align: center;
  }
}
.news__input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.news__input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.news__input:-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.news__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.news__submit {
  width: 44%;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #660C1C;
  padding: 10px 10px 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .news__submit {
    width: 100%;
    margin-top: 10px;
  }
}

.statistic-wrapper {
  background: #660C1C;
}
.statistic-wrapper .statistic__header {
  background: none;
}

.statistic__city {
  position: relative;
  font-weight: 800;
  font-size: 12px;
  color: #660C1C;
  font-family: "montserrat", sans-serif;
  margin-right: 20px;
}
.statistic__city:hover .statistic__city-dropdown-box {
  max-height: 300px;
}
.statistic__city:hover .statistic__city-name::after {
  transform: rotate(180deg);
}
.statistic__city-name {
  position: relative;
  padding: 8px 40px 8px 0;
  border-bottom: 1px dotted #660C1C;
  text-transform: uppercase;
}
.statistic__city-name::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 24px;
  height: 24px;
  background: transparent url("/img/icon-arrow-statistic.svg") 50% 100% no-repeat;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.statistic__city-dropdown-box {
  max-height: 0;
  background-color: #fff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 32px;
  left: -30px;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.statistic__city-dropdown {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #660C1C;
}
.statistic__city-dropdown li {
  padding: 16px;
  padding-left: 29px;
  white-space: nowrap;
  cursor: pointer;
}
.statistic__city-dropdown li:hover {
  color: #fff;
  background-color: #660C1C;
}

.statistic__header {
  font-family: "montserrat", sans-serif;
  background: #660C1C;
}
.statistic__title {
  max-width: 1120px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 44px;
  color: #fff;
  padding: 32px 0;
}
@media screen and (max-width: 1140px) {
  .statistic__title {
    padding: 32px 16px;
  }
}
@media screen and (max-width: 993px) {
  .statistic__title {
    font-size: 32px;
    padding: 30px 10px 24px 40px;
  }
}
.statistic__table {
  font-family: "montserrat", sans-serif;
  max-width: 1120px;
  margin: 0 auto;
  color: #fff;
}
.statistic__table-head {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 640px) {
  .statistic__table-head {
    display: none;
  }
}
.statistic__table-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  padding: 8px 0;
}
@media screen and (max-width: 640px) {
  .statistic__table-row {
    margin: 0 16px 10px;
    padding: 10px 17px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #000;
    border-radius: 2px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  .statistic__table-row:hover .statistic__table-el--name {
    border-bottom: 1px solid #660C1C;
  }
}
.statistic__table-row:not(:nth-last-child(2)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.statistic__table-row--total {
  padding: 15px 0;
  border-bottom: none !important;
  border-top: 1px solid #fff;
}
@media screen and (max-width: 640px) {
  .statistic__table-row--total {
    padding: 10px 17px;
  }
}
.statistic__table-row--total .statistic__table-el {
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .statistic__table-row--total .statistic__table-el--name {
    font-weight: 800;
  }
}
.statistic__table-el {
  flex-grow: 1;
  width: 9.1%;
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 993px) {
  .statistic__table-el {
    width: 10.8%;
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el {
    width: 50%;
    font-size: 17px;
    text-align: left;
    white-space: nowrap;
  }
}
.statistic__table-el--number {
  width: 5%;
}
@media screen and (max-width: 640px) {
  .statistic__table-el--number {
    display: none;
  }
}
.statistic__table-el--name {
  width: 45%;
  text-align: left;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}
@media screen and (max-width: 993px) {
  .statistic__table-el--name {
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--name {
    color: #660C1C;
    font-weight: 800;
    font-size: 17px;
    width: 100%;
    margin-bottom: 18px;
  }
}
.statistic__table-el--soc {
  margin-bottom: 5px;
}
@media screen and (max-width: 640px) {
  .statistic__table-el--soc::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 34px;
    height: 27px;
    background: transparent 50% no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--fb::before {
    background-image: url("/img/social/fb.svg");
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--vk::before {
    background-image: url("/img/social/vk.svg");
    -webkit-background-size: 30px;
    background-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--ok::before {
    background-image: url("/img/social/ok.svg");
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--inst::before {
    background-image: url("/img/social/instagram.svg");
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--tel::before {
    background-image: url("/img/social/telegram.svg");
  }
}
@media screen and (max-width: 640px) {
  .statistic__table-el--total::before {
    content: "Итого";
    font-weight: 800;
    margin-right: 10px;
  }
}
.statistic__table-el svg {
  fill: #fff;
  width: 34px;
  height: 18px;
}
@media screen and (max-width: 993px) {
  .statistic__table-el span {
    display: none;
  }
}
.statistic__table-el .statistic__vk {
  height: 16px;
}
.statistic__table-el .statistic__inst {
  height: 20px;
}
.statistic__table-el .statistic__ok {
  height: 20px;
}
.statistic__date {
  max-width: 1120px;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 34px;
}
@media screen and (max-width: 1140px) {
  .statistic__date {
    padding: 0 16px;
  }
}
@media screen and (max-width: 993px) {
  .statistic__date {
    padding: 0 10px 0 40px;
  }
}

/* page footer */
.footer {
  background-color: #fff;
  height: 90px;
  padding: 19px 0 20px 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .footer {
    display: none;
  }
}
.footer__box {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  padding-right: 22px;
}
@media screen and (max-width: 1140px) {
  .footer__box {
    margin-left: 16px;
  }
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer a:hover {
  color: #9b9b9b;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.footer__menu {
  color: #a50028;
  font-weight: 900;
}
.footer__menu a {
  margin-right: 40px;
}
.footer__info {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 13px;
}
.footer__rules {
  float: left;
}
.footer__copyright {
  float: right;
}

/*add news form*/
.addnews {
  width: 100%;
  padding: 52px 15px 15px 96px;
  color: #9b9b9b;
}
@media screen and (max-width: 993px) {
  .addnews {
    padding-left: 16px;
  }
}
@media screen and (max-width: 768px) {
  .addnews {
    padding-top: 13px;
  }
}
.addnews__head {
  margin-bottom: 24px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
@media screen and (max-width: 639px) {
  .addnews__head {
    padding: 0;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
}
.addnews__logo {
  flex: none;
  width: 145px;
  height: 145px;
  margin-right: 35px;
}
@media screen and (max-width: 639px) {
  .addnews__logo {
    width: 90px;
    height: 90px;
    margin: 0 0 8px 0;
  }
}
.addnews__logo svg {
  fill: #a50028;
}
.addnews__title {
  font-size: 36px;
  font-weight: 700;
  color: initial;
}
@media screen and (max-width: 639px) {
  .addnews__title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .addnews__title {
    font-size: 26px;
  }
}
.addnews__head-notice {
  font-size: 24px;
  font-weight: 300;
  color: #9b9b9b;
  margin-top: 4px;
}
.addnews__head-notice span {
  color: #a50028;
}
@media screen and (max-width: 639px) {
  .addnews__head-notice {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .addnews__head-notice {
    font-size: 18px;
  }
}
.addnews__body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media screen and (max-width: 768px) {
  .addnews__body {
    display: block;
  }
}
.addnews__info {
  flex: none;
  width: 340px;
  margin-right: 49px;
  font-size: 18px;
}
.addnews__info-title {
  font-family: "montserrat", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 37px;
}
@media screen and (max-width: 768px) {
  .addnews__info-title {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 640px) {
  .addnews__info-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .addnews__info-text {
    display: none;
  }
}
.addnews__info-notice {
  font-weight: 300;
  font-size: 16px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .addnews__info-notice {
    margin: 0 0 14px;
  }
}
.addnews__info-notice span {
  color: #660C1C;
}
.addnews__form {
  flex-grow: 1;
}
.addnews__form-item {
  position: relative;
  margin-bottom: 33px;
}
@media screen and (max-width: 640px) {
  .addnews__form-item {
    margin-bottom: 16px;
  }
}
.addnews__input {
  display: block;
  outline: none;
  width: 100%;
  background-color: #edeef0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 300;
  border-radius: 2px;
  font-family: "roboto", sans-serif;
}
@media screen and (max-width: 640px) {
  .addnews__input {
    font-size: 18px;
    padding: 7px 13px;
  }
}
.addnews__input::-webkit-input-placeholder {
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.addnews__input:-ms-input-placeholder {
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.addnews__input:-moz-placeholder {
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.addnews__input::-moz-placeholder {
  font-family: "roboto", sans-serif;
  color: #9b9b9b;
}
.addnews__required {
  position: absolute;
  top: 0;
  left: -15px;
  color: #660C1C;
  font-size: 19px;
  font-weight: 300;
  line-height: 1;
}
.addnews__city-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media screen and (max-width: 480px) {
  .addnews__city-block {
    display: block;
  }
}
.addnews__city {
  color: #660C1C;
  font-weight: 500;
  font-family: "roboto", sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #edeef0 url("/img/form-arrow.svg") 95% 55% no-repeat;
  -webkit-background-size: 20px 13px;
  background-size: 20px 13px;
}
.addnews__city--district {
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  .addnews__city--district {
    margin: 20px 0 0 0;
  }
}
.addnews__phone-label {
  display: block;
  font-weight: 300;
  font-size: 18px;
  margin: 9px 0 -6px 0;
  letter-spacing: -0.3px;
}
@media screen and (max-width: 640px) {
  .addnews__phone-label {
    font-size: 14px;
  }
}
.addnews__textarea {
  resize: none;
  height: 124px;
}
@media screen and (max-width: 640px) {
  .addnews__textarea {
    height: 96px;
  }
}
.addnews__file {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  font-size: 18px;
  color: #9b9b9b;
  font-weight: 300;
  margin-bottom: 20px;
}
.addnews__file-tip {
  max-width: 146px;
  margin-right: 10px;
}
@media screen and (max-width: 640px) {
  .addnews__file-tip {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .addnews__file-tip {
    max-width: 100%;
    margin: 0 0 8px 0;
    text-align: center;
  }
}
.addnews__file input[type=file] {
  display: none;
}
.addnews__file-button {
  display: block;
  width: 260px;
  text-align: center;
  padding: 11px;
  background: #edeef0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #660C1C;
  border-radius: 2px;
  line-height: 1;
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .addnews__file-button {
    font-size: 18px;
    padding: 7px;
  }
}
@media screen and (max-width: 480px) {
  .addnews__file-button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .addnews__file-button span {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .addnews__file {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
}
.addnews__submit {
  display: block;
  margin: 0 auto 35px;
  padding: 11px;
  background-color: #660C1C;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  border-radius: 2px;
}
@media screen and (max-width: 640px) {
  .addnews__submit {
    font-size: 18px;
    padding: 7px;
    margin-bottom: 16px;
  }
}
.addnews__confirm {
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .addnews__confirm {
    font-size: 12px;
  }
}
.addnews__confirm strong {
  font-weight: 500;
}
.addnews__confirm a {
  color: inherit;
}
.addnews__confirm a:hover {
  color: #9b9b9b;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.addnews__notice {
  padding-top: 3px;
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  .addnews__notice {
    font-size: 10px;
    padding-top: 7px;
  }
}
.addnews .img-close-btn {
  top: 0;
  right: 10px;
  font-size: 17px;
  color: #fff;
  padding: 3px;
  background-color: #9b9b9b;
}
.addnews .fa-times-circle:before {
  content: "✖";
}

.filelist {
  background-repeat: repeat-x;
  max-width: 100%;
  max-height: 100px;
  margin-right: 10px;
}

.img-holder {
  position: relative;
  max-width: 100%;
  max-height: 100px;
  display: inline-block;
}

.fileholder {
  margin-bottom: 40px;
}

.img-close-btn {
  position: absolute;
  top: 1px;
  /*your button position*/
  right: 15px;
  /*your button position*/
  padding: 0;
  color: white;
  cursor: pointer;
}

.progress {
  display: none;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.progress-bar-success {
  background-color: #5cb85c;
  /*display: none;*/
}

.land {
  font-family: "montserrat", sans-serif;
  padding-top: 65px;
  max-width: 1120px;
  margin: 0 auto;
}
.land a {
  color: inherit;
}
@media screen and (max-width: 640px) {
  .land {
    padding-top: 61px;
  }
}
.land__section {
  padding: 0 20px 20px;
}
.land__section--full {
  padding: 0;
}
.land__intro {
  color: #fff;
  background-color: #660C1C;
  padding: 77px 20px 92px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}
.land__heading {
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 37px;
}
.land__intro-more-txt {
  margin-top: 80px;
  font-weight: 700;
  line-height: 38px;
  padding: 0 12px;
}
.land__title {
  text-align: center;
  padding: 20px 0 25px;
  font-weight: 900;
  line-height: 32px;
  font-size: 24px;
  color: #660C1C;
}
.land__whatis {
  padding: 40px 0 70px;
  text-align: center;
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
  color: #660C1C;
}
.land__btn {
  font-size: 20px;
  color: #fff;
  background-color: #660C1C;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
  text-align: center;
  border: 1px solid #660C1C;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.land__btn:hover {
  background-color: #fff;
  color: #660C1C;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.land__btn span {
  display: block;
}

.news-type {
  color: #fff;
}
.news-type__head {
  background-color: #660C1C;
  padding: 10px 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.news-type__price {
  font-size: 52px;
  line-height: 60px;
  font-weight: 900;
}
.news-type__btn {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-color: #fff;
  font-weight: 400;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 16px 10px;
  min-width: 100px;
  min-height: 50px;
}
.news-type__btn:hover {
  border-color: #fff;
  color: #fff;
  background-color: #660C1C;
}
.news-type__btn--close {
  background: transparent url("/img/icon-close-white.svg") 50% 50% no-repeat;
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  transition: initial;
}
.news-type__btn--close:hover {
  background-color: transparent;
  border-color: #fff;
}
.news-type__btn--close span {
  display: none;
}
.news-type__media-box {
  height: 320px;
  position: relative;
}
.news-type__more {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 18px;
  background-color: rgba(102, 12, 28, 0.85);
}
.news-type__img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.news-type__title {
  font-size: 24px;
  font-weight: 900;
  margin: 10px 0 20px;
}

.how-send {
  height: 410px;
  background-color: #660C1C;
}
.how-send__btn {
  background-color: #fff;
  color: #660C1C;
}
.how-send__btn a {
  text-decoration: none;
}

/*end*/

/*# sourceMappingURL=main.css.map */
